<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.hc" level="debug" />
    <logger name="java.net.http" level="debug" />
    <logger name="com.github.tndavidson" level="debug" />
    

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>